/*
    RESET
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif ;
}

/*
    GENERAL
*/
.container {
    max-width: 1000px;
    margin: 0 auto;
}

#grid-container {
    display: flex;
    flex-wrap: wrap;
}

#grid-container > * {
    text-align: center;
    width: calc(100% / 10);
    height: 100px;
    border: 1px solid white;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
}
